---
import ExperienceItem from "./ExperienceItem.astro"
import { t, translations } from "../lib/translations"

const lang = Astro.url.pathname.includes("/eng") ? "en" : "es";

const experienceData = translations[lang].experience;
const EXPERIENCE = Object.keys(experienceData).map((key) => ({
  key: `experience.${key}`,
  date: experienceData[key].date,
  title: experienceData[key].title,
  company: experienceData[key].company,
  description: experienceData[key].description,
}));
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem
          {...experience}
          titleKey={`${experience.key}.title`}
          companyKey={`${experience.key}.company`}
          dateKey={`${experience.key}.date`}
          descriptionKey={`${experience.key}.description`}
        />
      </li>
    ))
  }
</ol>
